# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows shortcuts
*.lnk

# Mac
.DS_Store

# java
*.class
*.jar
*.war
*.ear

# pytest
__pycache__
.pytest_cache

# maven
target/
build/
config/

# eclipse
.settings/
.metadata/

# JetBrains
.idea/
*.iml
